body {
    & .nologin {
        
    }
}

.ec-pageHeader {
    & h1 {
        text-align: center;
        border-bottom: none !important;
    }
}

.ec-registerRole {
    max-width: 700px;
}

@media only screen and (min-width: 768px) {
    body.nologin .ec-layoutRole .ec-layoutRole__contents {
        margin-top: 53px;
    }
}
